<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../providers/provider-favorites.html">
<link rel="import" href="components/queue-track.html">

<dom-module id="view-favorites">
    <template>
        <provider-favorites id="favoritesProvider"
                            state="[[state]]"
                            user-votes="[[userVotes]]"
                            user-favorites="{{_userFavorites}}">
        </provider-favorites>

        <template is="dom-repeat"
                  items="[[favorites]]">
            <queue-track metadata="[[trackMeta]]"
                         state="[[state]]"
                         track="[[item]]"
                         user-votes="[[userVotes]]"
                         user-favorites="[[_userFavorites]]">
            </queue-track>
        </template>
    </template>
</dom-module>

<script>
    class FavoritesView extends Polymer.Element {
        static get is() {
            return 'view-favorites';
        }

        static get properties() {
            return {
                state: {
                    type: Object,
                    notify: true
                },
                trackMeta: {
                    type: Object,
                    value: () => Object.create(null)
                },
                userVotes: {
                    type: Object
                },
                favorites: {
                    type: Array
                }
            };
        }

        static get observers () {
            return [
                "getTracks(_userFavorites.*)"
            ];
        }

        getTracks (change) {
            Promise.all(Object.keys(change.base).map((o) => {
                return firebase.database().ref(`/tracks/${this.state.partyId}/${o}`).once("value")
            })).then((all) => {
                this.favorites = all.map(o => o.val());
            })
        }
    }

    customElements.define(FavoritesView.is, FavoritesView);
</script>
